html,
body {
	height: 100%;
	margin: 0;
}

/* navigabtion section */

/* Products */

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.produucts-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(143px, 1fr));
	grid-gap: 48px;
	justify-content: center;
	align-content: center;
}
.produucts-grid a {
	justify-items: center;
	align-items: center;
	justify-self: center;
}

/* footer design */
.footer-grid {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	gap: 48px;
}
.footer-grid div {
	margin-top: 60px;
}
.footer-grid div h1 {
	margin-bottom: 30px;
}
.footer-container {
	height: 100%;
	font-size: 16px;
	margin: 0 !important;
	background-color: #f3f9ff;
	color: #756c8b;
	padding-bottom: 0px;
	background-image: linear-gradient(to right, #cddff7 0%, #cddff7 100%),
		linear-gradient(to right, #d3cdf7 0%, #2f39d2 50%, #d3cdf7 100%);
	background-size: 0% 4px, 100% 4px;
	background-repeat: no-repeat;
	backface-visibility: hidden;
}

.footer-links ul li a,
.footer-more-links ul li a {
	display: block;
	font-size: 1rem;
	margin-bottom: 15px;
}
.footer-links ul li a:hover,
.footer-more-links ul li a:hover {
	text-decoration: underline;
}

@media (max-width: 700px) {
	.footer-grid div h1 {
		margin-bottom: 20px;
		font-size: 1rem !important;
	}
	.footer-container {
		font-size: 14px !important;
	}
	.footer-grid {
		padding: 0 25px;
		display: grid;
		grid-template-columns: 1fr;
		gap: 0;
	}
	.footer-grid div {
		margin-top: 25px;
	}
	.footer-grid div h1 {
		margin-bottom: 15px;
	}
	#cart-item-cont {
		display: grid;
		grid-template-columns: repeat(6, minmax(40px, 1fr));
		grid-template-rows: repeat(2, 1fr);
		justify-content: center;

		grid-template-areas:
			"a b b d e e"
			"a c c d e e";
	}
	#cart-item-cont .cart-item-img {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-area: a;
	}
	#cart-item-cont .cart-item-name {
		grid-area: b;
	}
	#cart-item-cont .cart-items-plus-minus {
		grid-area: c;
		margin-left: 0.5rem;
	}
	#cart-item-cont .cart-item-price {
		grid-area: d;
	}
	#cart-item-cont .cart-items-delete {
		grid-area: e;
	}
}

@media (max-width: 500px) {
	#cart-item-cont {
		grid-template-columns: repeat(7, minmax(40px, 1fr));
		grid-template-areas:
			"a a b b b d d"
			"a a c c c e e";
	}

	#cart-item-cont .cart-item-name {
		grid-area: b;
		font-size: 13px;
	}
	#cart-item-cont .cart-items-plus-minus {
		font-size: 12px;
	}
	#cart-item-cont .cart-items-plus-minus button {
		padding: 3px 10px;
	}
	#cart-item-cont .cart-item-price {
		font-size: 13px;
		align-items: end;
		justify-items: end;
		justify-self: end;
	}
	#cart-item-cont .cart-items-delete {
		font-size: 12px !important;
		padding: 5px 15px !important;

		align-items: end;
		justify-items: end;
		justify-self: end;
	}
}
